# Ex2 - Обзор данных

TВ этот раз  данные будем брать напрямую из интернета.


### Шаг 1. импортируйте необходимые библиотеки

In [1]:
import pandas as pd

### Шаг 2. Импортируйте датасет [отсюда](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Шаг 3. Сохраните его в переменную chipo.

In [5]:
chipo = pd.read_csv(url, sep = '\t')

### Шаг 4. Выведите первые 10 строк

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Шаг 5. Сколько наблюдений в датасете?

In [7]:
# Solution 1
chipo.shape[0]

4622

In [12]:
# Solution 2

len(chipo.index)

4622

### Шаг 6. Сколько колонок в датасете?

In [15]:
len(chipo.columns)

5

### Шаг 7. Выведите названия всех колонок.

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Шаг 8. как проиндексирован датасет?

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Шаг 9. Какой из товаров самый заказываемый?

In [25]:
chipo['item_name'].mode()

0    Chicken Bowl
Name: item_name, dtype: object

### Шаг 10. Сколько раз был заказан самый заказываемый товар?

In [30]:
chipo['item_name'].value_counts()[0]

C:\Users\janep\AppData\Local\Temp\ipykernel_16688\3272906147.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  chipo['item_name'].value_counts()[0]

np.int64(726)

### Шаг 12. Сколько всего товаров было заказано?

In [31]:
chipo['quantity'].sum()

np.int64(4972)

### Шаг 13. Приведите стоимость товара к типу float

#### Шаг 13.a. Выведите тип данных цены

In [32]:
chipo['item_price'].dtype

dtype('O')

#### Шаг 13.b. СОздайте лямбда-функцию и примените её к колонке цен

In [33]:
chipo["item_price"] = chipo["item_price"].apply(lambda cost: float(cost[1::]))

#### Шаг 13.c. Выведите тип данных цены

In [34]:
chipo['item_price'].dtype

dtype('float64')

### Шаг 14. Какой доход был получен за время сбора датасета?

In [35]:
chipo['item_price'].sum()

np.float64(34500.16)

### Шаг 15. Сколько заказов было за этот период?

In [37]:
len(chipo['order_id'].unique())

1834

### Шаг 16. Какой средний доход за заказ?

In [107]:
# Solution 1
chipo.groupby(['order_id'])['item_price'].sum().mean()

np.float64(18.811428571428568)

In [40]:
# Solution 2
chipo.value_counts[item]

<bound method DataFrame.value_counts of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 5 columns]>

### Шаг 17. Сколько различных товаров было продано за всё время?

In [38]:
len(chipo['item_name'].unique())

50