# United States - Crime Rates - 1960 - 2014

### Шаг 1. Импортируйте необходимые библиотеки

In [16]:
import pandas as pd

### Шаг 2. Импортируйте датасет [отсюда](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [17]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'

### Шаг 3. Сохраните в переменную crime.

In [18]:
crime = pd.read_csv(url)

In [19]:
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Шаг 4. Выведите типы данных по колонкам?

In [20]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

In [21]:
crime.index

RangeIndex(start=0, stop=55, step=1)

##### Как вы могли заметить, тип данных Year - int64, но в пандасе есть отдельный тип

### Шаг 5. Приведите колонку Year к типу datetime64

In [22]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

In [23]:
crime['Year'].dtype

dtype('<M8[ns]')

In [24]:
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Шаг 6. Используйте колонку Year в качестве индекса датафрейма

In [25]:
crime = crime.set_index('Year')

### Шаг 7. Удалите колонку Total

In [26]:
crime = crime.drop(columns = ['Total'])

In [27]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55 entries, 1960-01-01 to 2014-01-01
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Population          55 non-null     int64
 1   Violent             55 non-null     int64
 2   Property            55 non-null     int64
 3   Murder              55 non-null     int64
 4   Forcible_Rape       55 non-null     int64
 5   Robbery             55 non-null     int64
 6   Aggravated_assault  55 non-null     int64
 7   Burglary            55 non-null     int64
 8   Larceny_Theft       55 non-null     int64
 9   Vehicle_Theft       55 non-null     int64
dtypes: int64(10)
memory usage: 4.7 KB

### Шаг 8. Сгруппируйте датафрейм по декадам и выведите суммы колонок в пределах каждой группы

#### Обратите внимание на колонку Population, её суммировать не стоит (это нелогично)

In [28]:
crime['Population'] = crime['Population'].max()
crime_dec = crime.groupby((crime.index.year//10)*10).sum()

### Шаг 9. Какое наиболее опасное для жизни в США десятилетие?

In [29]:
crime_dec.idxmax()

Population            1960
Violent               1990
Property              1990
Murder                1990
Forcible_Rape         1990
Robbery               1990
Aggravated_assault    1990
Burglary              1980
Larceny_Theft         1990
Vehicle_Theft         1990
dtype: int32